[2021-08-25 13:54] LMESTM opened #1 "rm --purge does not remove all the pack related files"
**Describe the bug**
Thanks for this first cpackget version.

My $CMSIS_PACK_ROOT folder contained an old test pack with files like:
 vendor.pack_name.0.0.2.pack
 vendor.pack_name.0.0.2.pdsc
 vendor.pack_name.0.0.2.lic.txt

After command
./cpackget.exe pack rm --purge vendor.pack_name
the .pack and .pdsc is well removed, but .lic.txt is still there.

**To Reproduce**
Steps to reproduce the behavio

[2021-08-25 13:58] LMESTM opened #2 "Enhancement Request : could we get a list command"
**Enhancement request**
Could we get a
cpackget pack list [-cache]
command that provides the list of currently available in the pack root folder and optionally in .download cache folder

[2021-08-25 13:58] jkrech commented on #1
@LMESTM thanks for reporting. This is a product alignment issue.
I believe you have use MDK pack installer to install the pack.
The MDK pack installer does keep a copy of the license file in the .Download folder when installing.
cpackget has not implemented the license handling at all yet. I was wondering whether we immediately implement the extended license handling.

[2021-09-03 08:48] slhultgren opened #4 "Cannot install packs that contains folders"
Hi, I tested installing a pack using cpackget 0.1.1, but it seems to fail if the pack contains folders.

Steps to reproduce:
1. export CMSIS_PACK_ROOT=c:/test_cmsis
2. ./cpackget.exe -vv pack add https://keilpack.azureedge.net/pack/ARM.CMSIS.5.8.0.pack

[code]

Tested using Git-bash on windows.

[2021-09-03 17:24] #4 closed

[2021-09-03 17:29] chaws commented on #4
Hi @slhultgren , thanks for the feedback. The issue has been fixed and I rolled out a new release with the fix.

Please let me know if the bug persists.

[2021-09-07 10:09] jkrech opened #6 "Installation of packs needs to be gated by user accepting the license(s)"
If the package description specifies the license tag the expectation is that any user installing the pack needs to explicitly accept the license before the content of the pack is extracted on the host's drive.

a) the license text needs to be presented in the command window and the user need to hit at least a key to continue installing or cancel the operation
b) a command line option is required w

[2021-09-07 10:26] jkrech opened #7 "Extend the command line interface to add a list of packs specified via a file"
Background: CMSIS-Build's cbuildgen generates a file with all download urls for packs that are required by a project which are not already installed at the moment.
In order to fully replace the bash script 'cp_install.sh' from CMSIS-Build by 'cpackget' in 'cbuild.sh'

```  cp_install.sh "${abs_intdir}${project}.cpinstall" >&${out} 2>&${err}  ```

we need to be able to pass a the *.cpinstall to cpa

[2021-09-14 22:07] chaws opened #8 "[DRAFT] Digital Signature of Packs"
**DRAFT**

# Pack Signing Motivation

This is a proposal to make cpackget installation more secure through pack signing.

# Design

The fundamental idea is to use the [GPG](https://gnupg.org/) to sign packs and be later on validated by `cpackget`. The GPG standard that is widely used in the [open source community](https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/)  and [industry](https://

[2021-09-16 11:49] slhultgren opened #9 "cpackget pdsc add <pdsc> urls are added incorrectly"
There is an incompatibility issue with cbuild when using local pdsc files added through the "cpackget pdsc add some.pdsc"

1. The $CMSIS_PACK_ROOT/.Local/local_repository.pidx file does not contain:
[code]
on the first line, making cbuild failing to parse the file.

2. The urls in <pdsc url="..." /> are badly formatted as "file://C:/some/path", when it needs to be "file://localhost/C:/some/path" f

[2021-09-17 21:53] #9 closed

[2021-09-17 22:07] chaws commented on #9
Hi @slhultgren , thanks for the feedback!

I already addressed your 2 issues and made a new release here: https://github.com/Open-CMSIS-Pack/cpackget/releases/tag/v0.1.3

Let me know if the error still persists.

[2021-09-22 12:05] jkrech commented on #8
Feedback from the project meeting:
a) hash = is the pack file timestamp a reliable thing on Windows -> investigate
b) is there a more scalable alternative to embedding public vendor keys into the cpackget tool? E.g. could we have a signed archive of public keys to be downloaded (independently or as part of index.pidx?) and signed with the open-cmsis-pack key. This would be the only key embedded in

[2021-10-11 01:54] chaws opened #13 "Development make commands don't work on Windows"
Most development utils like `make build` on Windows.

[2021-10-18 12:20] #6 closed

[2021-11-05 16:07] jkrech opened #19 "cpackget shall find download url for public packs"
Today cpackget requires a download url for downloading and installing a public pack.
Cbuildgen is creating the packlist with download urls for the required packs.
We should implement the translation from packID to download url in cpackget.

`cpackget pack add ARM.CMSIS.5.7.0`

Note: in case no version is specified the greatest version found is used.

Process:
assumption - file: ARM/CMSIS/5.7.0/ARM

[2021-11-05 18:21] chaws commented on #19
Just complementing:

1. cpackget should always construct the final pack file name base on packID attributes, this is necessary when packs from from github artifacts links, e.g. v0.0.1.zip
2. cpackget will look into a pack's decompressed folder searching for the pdsc file. If the file isn't there then
2.1. If there's just a single folder in the pack's content AND if the pdsc is contained there, cpa

[2021-11-08 22:06] chaws commented on #19
Hi @jkrech

I think we should extend the scenarios of "pack add" to the following (I copied most of your code snippet)
[code]

I think it's a good idea to try to make the pack's url using the URL attribute already present in $CMSIS_PACK_ROOT/.Web/index.pidx as it is the most common scenario. Only if the pack's url returns 404 we should look for the url inside releases tag in the pack's pdsc file.

[2021-11-09 07:54] jkrech commented on #19
Good points.
I like the idea of trying to download a pack version based on the url provided by the index.pidx (assuming that pdsc and pack version files are located in the same web folder). Please keep in mind that in the past we had issues to clearly identify that the download failed as websites not always respond with 404. This means you will need to check that a valid pack is downloaded, but th

[2021-11-09 13:26] chaws commented on #19
Yes, I haven't added all possible checks in the snippet as it would cover a lot of basic error checks, like 404s or malformed PDSC files.

Ack regarding "deprecated"/"replacement".

I'll start working on this asap, as the [integration PR](https://github.com/Open-CMSIS-Pack/devtools/pull/50) is almost ready.

[2021-11-12 15:56] #19 closed

[2021-12-14 22:00] fred-r commented on #8
Hi guys,

as usual I am going to be a bit pedantic and picky on the wording...so please feel free to kick my ass when needed :-)

# Concept

To me, GPG is the GNU implementation of the OpenPGP standard: https://www.ietf.org/rfc/rfc4880.txt

So, my first point is: do you really want to rely on GPG which has a GPL-3.0 license ?
I am not comfortable with this license.

Now, coming to OpenPGP.
It desc

[2021-12-17 15:22] fred-r commented on #8
Maybe I should have started by this...but probably we need to clarify what we want to achieve here ?

To me what is important is:

1. Integrity : make sure a pack has not been altered during its transport (better than just the sha1 created by gen_pack.sh)
2. Authenticity : make sure a pack supposed to be issued by N is really coming from N

That's why digital signature + PKI sounds good to me.

A

[2022-01-18 15:37] chaws commented on #8
Hi Frederic!

Thanks a lot for your comments, I've taken that into re-writing the proposal.

One thing I haven't updated yet is how public keys are distributed. I know GPG public keys can live in key servers such as [mit](https://pgp.mit.edu/) or [ubuntu](https://keyserver.ubuntu.com/). But don't know yet if X509 keys have something similar.

[2022-01-19 07:46] fred-r commented on #8
The latest recommendations (for the web) seem to be to issue certificates with a one year validity period:
https://www.globalsign.com/en/blog/maximum-ssltls-certificate-validity-now-one-year

But the Root CAs themselves have much longer validity period:
![image](https://user-images.githubusercontent.com/8255133/150086005-ac2ebd91-bcf0-4763-95e0-8a32e7c55ed6.png)

So, probably we can go for longer

[2022-01-19 08:03] fred-r commented on #8
Regarding this point:

Q2: How to ensure that the pack was created by the vendor?
Because of the nature of X.509 certs, it's possible to track a signing key up to its original ROOT CA. All Root CAs should be in a secure store trusted by cpackget.

This is the idea.
Just to be sure we are on the same page if we take the example of ARM CMSIS.

We need in the certs chain an intermediate certificate f

[2022-01-19 09:43] fred-r commented on #8
Another aspect also : to avoid making packs distribution too painful (people may want to distribute packs easily), all these checks must be configurable.

An end-user may say : I do not want any check, I accept any pack from anywhere, even if the pack is not signed at all.

[2022-01-21 01:47] chaws commented on #8
Hi @fred-r, let me try to compile your comments' answers in this comment.

Are there any public certs store out there as MIT or Ubuntu do for GPG public keys? Perhaps these servers will become handy when distributing or keeping the list of CRL.

Ack.

Do you know if cert renewal also requires new keys? If so, I'm afraid pack re-signing would be a recurring task for vendors.

And also, packs issuer

[2022-01-21 05:30] fred-r commented on #8
For the Root CA cert : agree, any vendor must have the freedom to choose the CA signing his certificate. This way, the tool does not need to maintain its own store of root certs and can reuse the OS store.

[2022-01-24 12:16] chaws commented on #8
Let me write a scratch tool to start off on this thread, it'll be useful moving our discussion forward.

@fred-r Let me ask you something that crossed my mind: Do you think Vendors would want to re-use x509 certs? For instance, let's say ARM already has another x509 cert that ARM uses somewhere else in the company, do you think it makes sense for ARM to reuse that to sign packs? Or should we alway

[2022-01-24 13:23] fred-r commented on #8
Mmmh....not sure here.
Usually when you send a CSR to a CA you indicate the purpose of your key.
So here we would not ask for an SSL certificate but probably more a code signing certificate...even if we are not publishing an executable but a pack.
So, we would use a code signing certificate but not a standard code signing application, instead I assume we would use your cpacksec application (becaus

[2022-01-24 14:42] chaws commented on #8
It sure does!

It might also be the case that vendors re-use some certs to sign a "Pack-Signer RootCA" and have that one saved in cpackget's secure store. This is getting interesting. The tool will have to be very flexible to accommodate everyone's needs

[2022-01-24 15:07] fred-r commented on #8
Yes, and we should also think about people who want to publish a pack without all this signing infrastructure.
Then, users may accept such packs or not.

[2022-01-28 04:06] chaws commented on #8
I just saw this tool that might be useful if we ever opt for setting a cert issuer server: https://smallstep.com/

I'm working on a scratch tool that implements things openssl did in @fred-r 's example. I'm not trying to reinvent the wheel here, but instead, by doing so I can really learn about it and properly do the job. For instance, I didn't know you could generate a cert for very specific need

[2022-02-02 02:51] chaws commented on #2
Just pushed a PR allowing cpackget to:
* List only installed packs: `cpackget pack list`
* List cached packs: `cpackget pack list --cached`
* List packs available in the public index: `cpackget pack list --public`

More examples are in the PR.

[2022-02-03 14:57] #2 closed

[2022-03-10 15:27] fred-r opened #33 "cpackget pack rm not working with specific versioning"
cmsis-toolbox 0.9.1

Issue with pack versioning ?

[code]

[2022-03-10 15:28] fred-r commented on #33
@jkrech @brondani : I do not know if this is ok to raise tickets here for cmsis toolbox when cpackget is involved ?

[2022-03-10 16:18] jkrech commented on #33
@fred-r , yes it is good to raise issues against cpackget in this dedicated repository.
Please note that at the point cpackget command line was developed, we had not agreed on this new syntax for the packID.
Therefore your command should read:
[code]
Obviously we need to get this aligned at some point.

[2022-03-11 01:26] chaws commented on #33
@jkrech is this something to be added to cpackget pack version parser?

[2022-03-11 08:11] jkrech commented on #33
Any "version" of a pack that can be installed also needs to be removed by cpackget. In order to do so any legal version (semver.org) can be specified here.

So any packID listed with this command:
[code]
Should also work for removing a pack
[code]

[2022-03-11 12:15] chaws commented on #33
@jkrech That is already possible:
[code]

My question was about adopting the syntax @fred-r attempted with "::" instead of ".", or should cpackget accept both?

[2022-03-11 12:54] jkrech commented on #33
I think we should discuss this first.

[2022-03-14 14:42] chaws commented on #33
Yeah, I think supporting both formats would be great for backwards compatibility in cpackget.

Additionally, adopting the ">=" syntax might be a good thing adding packs, e.g. `cpackget pack add ARM::CMSIS>=5.5.0`, what do you think?

[2022-03-15 08:13] ReinhardKeil opened #34 "cpackget pack list command stops when an incorrect pack is detected"
When using the `cpackget pack list` command it appears to stop on the first pack that uses inconsistent naming conventions.
[code]

I would also suggest to use a unified error messaging format as proposed here: https://github.com/Open-CMSIS-Pack/Open-CMSIS-Pack-Spec/issues/59

The output could read:
[code]

[2022-03-15 08:45] ReinhardKeil opened #35 "Suggestion: Improve usiblity"
The `cpackget` tool is already quite good and **this is a proposal** to improve the usability.

I have not fully understood the `PDSC` command.  How does this differ from the `PACK` command?

I suggest to simplify the command entry by:
  - accept a single character as alternative
  - use separate commands for `pack`

Usage could look like:

[code]

For example the `cpackget list` command could be

[2022-03-15 09:04] jkrech commented on #35
The pdsc command allows to add and remove "local repositories", which are stored in $CMSIS_PACK_ROOT/.Local/local_repository.pidx
Therefore it does neither download nor extract any pack content.
If we remove the pack vs. pdsc command the tool can simply look at the specified file extension. If the user specifies a pdsc file it is about adding or removing as pdsc from the local_repository.pidx othe

[2022-03-15 10:00] ReinhardKeil commented on #35
Thanks for explaining. I would suggest to improve the command specific help pages as this type of information should be displayed when you enter `cpackget help add` for example.

[2022-03-15 10:01] ReinhardKeil commented on #35
I noted also that the current help output of the tool is somewhat incomplete and does not reflect the current implementation.

[2022-03-15 15:00] fred-r opened #36 "cpackget fails to list packs while csolution succeeds"
$ csolution list packs
ARM::CMSIS-Driver@2.6.1
ARM::CMSIS@5.7.0
ARM::CMSIS@5.8.0
ARM::PSA@1.0.0
ARM::mbedTLS@1.7.0
Keil::ARM_Compiler@1.6.3
Keil::MDK-Middleware@7.12.0
Keil::MDK-Middleware@7.13.0
Keil::NUCLEO-L552ZE-Q_BSP@1.2.0
Keil::STM32F4xx_DFP@2.15.0
Keil::STM32F4xx_DFP@2.16.1
Keil::STM32H7xx_DFP@2.8.0
Keil::STM32L4xx_DFP@2.6.1
Keil::STM32L552E-EV_BSP@1.1.0
Keil::STM32L562E-DK_BSP@1.3.0
Keil::

[2022-03-15 15:04] jkrech commented on #36
@fred-r  as a temporary workaround could you please set the CMSIS_PACK_ROOT variable:

```export CMSIS_PACK_ROOT=c:\\CMSIS_PACKS```

[2022-03-15 15:05] fred-r commented on #36
Works indeed, thanks !

[code]

[2022-03-15 15:07] fred-r opened #37 "cpackget does not support local packs ?"
Looks like cpackget does not take into account the local packs:

frq09468@LMECWL0888 MINGW64 /c/Packs
$ cpackget pack list
I: Using pack root: "c:\CMSIS_PACKS"
I: Listing installed packs
I: ARM.CMSIS-Driver.2.6.1
I: ARM.CMSIS.5.7.0
I: ARM.CMSIS.5.8.0
I: ARM.mbedTLS.1.7.0
I: ARM.PSA.1.0.0
I: Keil.ARM_Compiler.1.6.3
I: Keil.MDK-Middleware.7.12.0
I: Keil.MDK-Middleware.7.13.0
I: Keil.NUCLEO-L552ZE-Q_

[2022-03-15 15:23] fred-r opened #38 "pack management behind a proxy"
In my company we are working behind a proxy.

I am under the impression that when I use pack management tools (cpackget or uvision) then some internet accesses are made and alter my pidx file because of the proxy:
C:\CMSIS_PACKS.Web\index.pidx:
[code]
<!DOCTYPE html><html><head><title>Welcome To Zscaler Directory Authentication</title>
...
[code]

[2022-03-15 15:28] jeromecoutant commented on #38
Are http_proxy and https_proxy environment variables used for cpackget ?

[2022-03-15 17:02] chaws commented on #36
@fred-r, Thanks for opening the issue!
Which terminal/bash are you using?

[2022-03-15 17:28] chaws commented on #35
Hi @ReinhardKeil , Thanks for your suggestion!

Which `help` command have you attempted? Could you please try running the following?

1. Help for `pack add`:
[code]
2. Help for `pdsc add`:
[code]

From your suggestion above, I see that you unified `pdsc` and `pack`, thus having `add/rm/list/purge` as a direct subcommand of `cpackget`, correct? It would definitely simplify it. @jkrech what are your

[2022-03-15 18:58] ReinhardKeil commented on #35
@chaws I was perhaps using an older version.  But you are right, I suggest to combine the PDSC and PACK command.

[2022-03-16 09:02] fred-r opened #39 "[questions] cpackget init"
According to the help:
[code]

But:
[code]

[Q1] .Web/index.pidx ==> where is it downloaded from ? What is `<index-url>` ?

Then we can install a pack:
[code]

And we end up with :
[code]
[Q2] Why this architecture with files duplication ?
The .pack is kept in .Download, why ?
The .pdsc is present in multiple places, why ? Why in .local especially ?

Also:
[code]

[Q3] What is pack.idx ? Why is it

[2022-03-16 09:38] jkrech commented on #39
[Q1] I am not sure whether it is intentional that the 'init' command is not enforcing to specify the download location for the public pack index file. According to the usage: the index-url is optional
```cpackget init [--pack-root <pack root>] [index-url] [flags]```
The public pack index maintained by Arm is located here:
```https://www.keil.com/pack/index.pidx```

```cpackget init --pack-root ./m

[2022-03-16 13:19] chaws commented on #38
Cpackget is written in Golang, which [supposedly](https://pkg.go.dev/net/http#ProxyFromEnvironment) tweaks its transport layer depending on the HTTP_PROXY/http_proxy env vars, but I have tried it without success though.

I'll tackle that, and will make cpackget either read HTTP(S)_PROXY environment variable or accept it as a cmdline arg, e.g. `--proxy https://[user:pass@]proxy.com[:port]`

[2022-03-16 15:56] jkrech commented on #39
The file format is clearly something we can look at and the current implementation was driven by CMSIS-Build.
$cbuildgen packlist
command was developed write a file containing download url that would be read by a shell script (cp_install.sh) to do the actual download and unzip (<project>.cp_install)
We replaced the shell script more recently with cpackget while maintaining the filename and format

[2022-03-16 16:48] jeromecoutant commented on #39
I was thinking about ACI tests

[2022-03-18 01:17] chaws commented on #36
By default, `CMSIS_PACK_ROOT` environment variable is defined in a Windows environment as `C:\SOME_PATH`. Both bash and cmd work fine with that approach.

In git-bash/mingw, if the user tries to `export CMSIS_PACK_ROOT=C:\SOME_PATH` or `--pack-root/-R C:\SOME_PATH`, bash automatically removes the backwards slash `\` because it is considered to be a escape character, so it becomes `C:SOME_PATH`, wh

[2022-03-18 17:18] #36 closed

[2022-03-22 08:46] jkrech commented on #39
@jeromecoutant do you see a strong requirement for cpackget to support pidx as input format?
Or do you think that cpackget should even have a command that creates and maintains a CMSIS-PACK folder with all published packs installed (either latest versions only or even all available versions?).

I personally think this is not the most typical use case and could be achieved by some scripting relativ

[2022-03-22 09:11] jeromecoutant commented on #39
I agree, and already partially done on my side :-)

[2022-03-22 09:30] jkrech commented on #39
@fred-r are you happy with the answers provided and can we close the issue?

[2022-03-22 09:38] fred-r commented on #39
Hi @jeromecoutant  and @jkrech ,

regarding the point raised by Jérôme : to me OpenCMSIS aims at providing the vanilla tooling for using the Open-CMSIS-pack-spec concepts.

So, I am more in favor of "atomic services", then the IDE or ACI using it can implement the exact required "advanced behavior".
If we implement to high level services the chances are high that it does not match the exact expect

[2022-03-22 09:58] jkrech commented on #39
@fred-r the cpackget currently only deals with the CMSIS_PACK_ROOT folder and this is how I currently intend to keep it and have a clear separation of concern.
Depending on the use cases we should think about a utility that allows to "privatize" specific or all packs used by a solution / project / layer etc.  From my perspective this should be a copy operation from CMSIS_PACK_ROOT/<packid> -> proj

[2022-03-22 12:39] chaws commented on #37
Hi @fred-r , @jeromecoutant Thanks for raising this issue!

I'm working up cpackget to combine `pack` and `pdsc` commands and leave it all as `cpackget add`, `cpackget list`, etc. I'll comment here once I have released a new version with it.

[2022-03-22 12:41] chaws commented on #34
Hi @ReinhardKeil Thanks for raising the ticket.
I didn't expect packs to not follow the naming pattern, hence it breaking on the first error there. I'll get a fix to this.

[2022-03-22 13:27] jkrech commented on #39
[Q3] pack.idx (sorry, bad name for historic reasons) is 'touched' by cpackget whenever a pack was added or removed. A running IDE session may decide based on this "activity" to reread the installed packs. E.g. the user may have installed a more recent version of a pack and the effective component selection may change to a new version of the component from this new pack.
The more critical scenario

[2022-03-22 13:32] fred-r commented on #39
Hi Joachim,

I worked with cpackget and uvision but this is not what I observe:
[code]

On my side, pack.idx is empty.

[2022-03-25 04:21] chaws commented on #33
Hi @jkrech, I have added support for [parsing pack names using `::@`](https://github.com/Open-CMSIS-Pack/cpackget/pull/41) as well as the current syntax. Both formats will be supported. But the new syntax brings some extra complexity that I believe needs extra discussion.

I'll start off this discussion with the following use case:

For started, let's assume `ARM.CMSIS` has available versions `5.8

[2022-03-25 08:04] jkrech commented on #33
@chaws, these are very good questions and from my point of view you went a step further than I had initially thought, which is clearly my mistake.
In a first step I was just thinking of replicating what we already had using the 'dot' separated notation of a packID:
[code]
This would then map to the YML syntax
[code]
The above should be the straight forward part.
Now to your scenario above
a) Agree

[2022-03-25 10:34] jeromecoutant commented on #34
Hi

It seems that `cpackget pack list` doesn't work?

I consider my pack root clean...
And I got the same error message

[code]

[2022-03-25 12:39] jkrech commented on #34
Your problem sounds like issue #36 reported earlier.
This issue got fixed in https://github.com/Open-CMSIS-Pack/cpackget/releases/tag/v0.3.2
This version/fix will be included in the next cmsis-toolbox release next week.

[2022-03-25 13:21] jeromecoutant commented on #34
I confirm
Thx

[2022-03-28 12:28] jkrech commented on #39
Any further questions, before we can close this issue?
@fred-r @VGRSTM

[2022-03-28 12:32] VGRSTM commented on #39
I'm fine to close. Thanks.

[2022-03-28 12:58] #39 closed

[2022-04-01 06:53] fred-r opened #42 "cpackget does not accept CRLF in .pdsc ?"
I: Using pack root: "C:\CMSIS_PACKS"
I: Adding pdsc
E: XML syntax error on line 1: illegal character code U+0003

pdsc which is not accepted:
[code]

pdsc which is accepted:
[code]

[2022-04-01 11:57] chaws commented on #42
Hi @fred-r

That's an interesting one. I'd think that the golang stdlib for XML unmarshaling would've handle that, but apparently not.
I'll investigate it.

[2022-04-01 19:14] chaws commented on #33
Hi @jkrech I pushed new changes to the PR. Here are some attempts I've tried:

[code]

[2022-04-04 07:36] jkrech commented on #33
@fred-r @brondani  and others, this is looking good to me but maybe you disagree or think we are missing out on scenarios.

[2022-04-04 12:17] #33 closed

[2022-04-04 12:23] chaws commented on #33
Thanks @jkrech ! I have merged the patch because it was a big one. I'll tackle other open issues now, but if there's need for adding more changes to this one, please let me know

[2022-04-04 12:27] brondani commented on #33
It looks good to me. Removing "pack ranges" (@~ or >=) seems to be less relevant, but removing all installed versions of a given pack sounds useful, for example `cpackget pack rm "ARM::CMSIS"` without specifying the version. I believe this use case is already supported, is it right @chaws?

[2022-04-04 13:02] chaws commented on #33
@brondani yes!

[code]

[2022-04-04 14:10] chaws commented on #42
Hi @fred-r could you please point me the snippet of this pdsc file you hit the bug?

I have tried using `\r\n` and it worked just fine, so this is not related to CR/CF.

It seems that the error your hit is due to Unicode 0003 character[1], which seems it's character that was added by accident maybe when hitting ctrl+c?

[1] https://www.compart.com/en/unicode/U+0003
[2] https://en.wikipedia.org/wik

[2022-04-04 14:11] chaws commented on #1
@jkrech Now that cpackget has the extract-license feature. Should `rm --purge` remove license files as well if any?

[2022-04-04 15:26] jkrech commented on #1
I think the answer is "yes".

[2022-04-04 16:40] fred-r opened #43 "Issue to update a local pack ?"
trying this:
[code]

I have this in my local pack's pdsc:

	<releases>
		<release version="0.1.0-alpha1" date="2022-03-09">Add U5_GFX and U5_4M devices</release>
		<release version="0.0.1" date="2021-03-01">Initial release of STM32U5 Device Family Pack.</release>
	</releases>

[2022-04-04 16:46] chaws commented on #43
Hi @fred-r , shouldn't there be a `0.1.1` version on your pdsc file? I only see `0.1.0-alpha1` and `0.0.1`.

[2022-04-04 18:26] fred-r commented on #43
Yes, that's the content of the local pack's pdsc, but the content of the .pack's pdsc is like this:

[code]

Looks like the local one takes precedence over the one I try to install.

[2022-04-05 06:19] jkrech commented on #43
[code]
I am struggling to understand the discussion.
My expectation with the above command is, that the pack gets installed into
c:\CMSIS_PACKS\STMicroelectronics\STM32U5xx_DFP\0.1.1
If that folder already exists, then the version is already installed.

On local packs (packs which are not public = in .Web folder but in .Local) we should not have strict versioning expectations, especially if the <u

[2022-04-05 06:55] fred-r commented on #43
Indeed:
- initially, I had a local pack for this U5 DFP: 0.1.0-alpha1
- then I wanted to install a .pack with a higher version (0.1.1)

cpackget rejected the installation saying the version does not exist in my pdsc.

To make it work, I removed the reference to the local pack in "local_repository.pidx".

So, I think that cpackget parsed the pdsc from the .Local instead of parsing the pdsc from the

[2022-04-05 11:23] jkrech commented on #43
@fred-r  I actually missed the fact that you referred to a "local_repository.pidx" when you wrote "Local Pack".
It does not change the fact that cpackget should always install a pack which is referenced from the file system.
Even if the same version (or other versions) are listed in the local_repository.pidx. If the same pack version is installed and also available as a local_repository entry, the

[2022-04-05 12:04] chaws commented on #43
Hi @fred-r, @jkrech I confirmed that in the code.

Cpackget hasn't yet extracted the current pack's pdsc file when checking if the version is present in an existing pdsc file.

Let me fix that

[2022-04-05 12:19] jkrech commented on #43
Hi @chaws , I don't see the purpose of checking for the version you want to install needing to be in an existing pdsc file?
What am I missing? Are you looking for an inconcistency between the version the filename is suggesting and the contained pdsc file you are going to extract into the installation folder?

[2022-04-05 12:35] chaws commented on #43
@jkrech this is a sanity check/assertion: the version you're trying to install via pack file **should** be present in the pack's pdsc file. The issue here is that cpackget is using an old pdsc file for the validation.

[2022-04-05 13:35] jeromecoutant commented on #38
Maybe it is an issue with redirection ?

`curl -O http://www.keil.com/pack/index.pidx` => wrong file
`curl -L -O http://www.keil.com/pack/index.pidx` => OK

So cpackget is first using http_proxy env vars, but after redirection no?

[2022-04-05 15:01] chaws commented on #38
@jeromecoutant, @fred-r  I re-checked and `HTTP_PROXY` and `HTTPS_PROXY` work fine as-is.

`cpackget` will use `HTTP_PROXY` (if any) for http requests and `HTTPS_PROXY` (if any) for https requests.
I failed to check that in my previous comment because I had used a non-https proxy configuration with a https url so the proxy was never used. It was my mistake, sorry about that!

I also noticed I impl

[2022-04-06 10:10] fred-r commented on #42
Anyway, I think the problem might be that I used pdsc instead of pack command ?

[2022-04-06 10:14] fred-r commented on #43
I: Using pack root: "C:\CMSIS_PACKS"
E: The pack's pdsc (C:\CMSIS_PACKS\.Local\STMicroelectronics.STM32U5xx_Drivers.pdsc) has no release tag matching version "0.1.2"
E: pack version not found in the pdsc file

In fact I really need to clean the .Local, updating local_repository.pidx did not work finally.

[2022-04-06 10:18] fred-r commented on #42
Indeed : my bad, it works with the pack command, sorry :-(

[2022-04-06 10:18] #42 closed

[2022-04-06 12:50] chaws commented on #42
Oh, thanks for checking, @fred-r !
I'm working on a patch to combine remove `pack` and `pdsc` commands, so you'll only be handling packs with `cpackget add [pack]`, where `pack` can be either a pack file, a pdsc file or simply the pack id

[2022-04-06 16:42] chaws commented on #38
@jeromecoutant I have added a note on configure proxy with cpackget: https://github.com/Open-CMSIS-Pack/cpackget/pull/45/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R128

[2022-04-06 21:29] chaws commented on #1
@jkrech Just pushed a PR for fixing this issue. There's one thing to note:

In the cache (.Download) folder, the license file name is appended to the full pack's file name:
* vendor.pack_name.0.0.2.pdsc
* vendor.pack_name.0.0.2.pack
* vendor.pack_name.0.0.2.pack.lic.txt**

So these are going to be purged.

[2022-04-06 21:34] jkrech commented on #1
Makes sense to me.

[2022-04-07 12:41] chaws opened #48 "Cpackget is installing a wrong pack version"
**Describe the bug**
Cpackget should raise an error when specifying a minimum version that does not exist

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I think in this case, the expected behavior should be an error message saying that the desired version is not available in any PDSC file

[2022-04-07 13:32] chaws opened #49 "Lack of details on error message"
Issue reported by @jkrech :
[code]
In this case it is not clear to the user what directory is not found. The directory displayed actually exists but the .Web folder does not.

[2022-04-08 07:43] jkrech commented on #48
I do agree. There is no published version of the pack available that satisfies the version requirement.
The statement "not available in any PDSC" is confusing to me. What do you refer to with "any PDSC file"?
If the specified pack is a public pack then there is only one pdsc you can look at for finding the requested version, right?
./Web/<vendor>.<packname>.pdsc
If it is not in there, the only alt

[2022-04-08 17:30] chaws commented on #48
By "_any_", I mean both PDSC files of a public (.Web) and a local (.Local) packs. Because both of these scenarios might be checked (if not available in .Web, look under .Local) when installing a pack. Perhaps a more meaningful message fits better here "Pack version not found in path-to-pdsc-file.pdsc".

Sorry I don't understand how packs listed in `local_repository.pidx` can be useful here. I say

[2022-04-08 20:13] jkrech commented on #48
Let's assume someone has ARM.CMSIS.5.9.0 in a folder somewhere and registered it's pdsc file to the local_repository.
If you run cpackget pack add ARM.CMSIS@>5.7.0 then the request is already satisfied, isn't it?

[2022-04-08 20:15] #43 closed

[2022-04-11 10:24] Patater opened #51 "Following DEVELOPING.md results in invalid executable on macOS"
**Describe the bug**
When following the instructions in `DEVELOPING.md` on macOS, step 6, "Make sure it builds `make build/cpackget`" results in an ELF executable. Executables on macOS should be Mach-O.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a fresh copy of cpackget.git
2. `make config`
3. `make test-all`
4. `make build/cpackget`
5. Try running the built cpackget: `./build/cpa

[2022-04-11 13:03] chaws commented on #51
Hi @Patater thanks for reporting the issue!

OS detection isn't working automatically for MacOS is seems. Could you please try building it with `make OS=darwin  ARCH=amd64 build/cpackget`?

I tried this locally and got it cross-compiled alright:
[code]

[2022-04-11 13:41] chaws opened #52 "Progress bar on non-interactive terminals"
**Describe the bug**
Progressbar doesn't work nicely on non-interactive terminals

**To Reproduce**
Run cpackget on a non-interactive terminal:
https://github.com/ARM-software/AVH-AWS_MQTT_Demo/runs/5509057511?check_suite_focus=true#step:4:1345

**Expected behavior**
It would be nice if cpacket could detect the missing terminal feature and just display a static message

[2022-04-11 20:54] chaws opened #53 "Make index.pidx mandatory in init command"
Issue extracted from https://github.com/Open-CMSIS-Pack/cpackget/pull/50#issuecomment-1092498508

[2022-04-11 20:55] chaws opened #54 "Update index command to update-index"
Issue extracted from https://github.com/Open-CMSIS-Pack/cpackget/pull/50#issuecomment-1092498508

[2022-04-12 11:00] Patater commented on #51
OK, I've raised https://github.com/Open-CMSIS-Pack/cpackget/pull/55 to fix this.

[2022-04-12 14:58] chaws commented on #51
Thanks @Patater for pushing the fix for this.

[2022-04-12 16:00] JonatanAntoni opened #56 "cpackget index -f <url> fails to write index.pidx when file is read-only (Windows)"
**Describe the bug**
Running `cpackget` on Windows to update the `index.pidx` file fails with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize/update pack folder using MDK's PackInstaller
1. Run `cpackget index -f https://www.keil.com/pack/index.pidx`
1. See error from above

**Expected behavior**
- It is expected that `cpackget` overwrites the existing `index.pidx`.
- It i

[2022-04-13 06:57] jkrech commented on #56
@chaws, please note that you need to manage file permissions in the $CMSIS_PACK_ROOT folder. My bad, I guess. Since we don't want to people temper with the content of the pack folder, we set file permissions to read-only. However in case files/directories need to be modified or deleted, the read-only flag needs to be removed or the operation forced. Note that cpackget shall also set read-only flag

[2022-04-13 07:48] JonatanAntoni commented on #56
@chaws, @jkrech, indeed, the pack folder was initially created by MDK's PackInstaller. I'll update the bug report above, accordingly.

Sounds like we should somehow pin down the spec (layout) of the pack folder including such tweaks like setting files read-only. This should not only be done on Windows but on all platforms to prevent a user from unintentionally modifying shared files.

[2022-04-13 07:56] JonatanAntoni commented on #56
I confirm, removing the `read-only` file flag manually solves the issue.

[2022-04-13 08:29] JonatanAntoni opened #57 "cpackget cannot install older pack versions"
**Describe the bug**
`cpackget pack add` cannot download a pack version older than the latest version listed in the `index.pidx`.

The error message contains a `cpackget` command line that is not functional:
`cpackget --force index https://keil.com/pack/index.pidx`

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a new pack repo: `cpackget -R .packs init https://keil.com/pack/index

[2022-04-13 08:55] JonatanAntoni opened #58 "cpackget returns with error state on already installed packs"
**Describe the bug**
`cpackget` returns with error state when asked to install a pack that is already installed. This leads to CI pipelines to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. `cpackget -R .packs init https://keil.com/pack/index.pidx`
2. `cpackget -R .packs pack add ARM.CMSIS` install the pack:
[code]
4. `cpackget -R .packs pack add ARM.CMSIS` recognizes pack is already

[2022-04-13 12:37] chaws commented on #58
Thanks for raising this @JonatanAntoni !
I have changed it so that the error message becomes an info message e.g. `` the PR #59 addresses that.

I'll address the second part of your issue on another PR. What do you think of `--force-reinstall`? pip[1] uses that option for exactly the same purpose as you described

[1] https://pip.pypa.io/en/stable/cli/pip_install/?highlight=reinstall#cmdoption-for

[2022-04-13 12:42] JonatanAntoni commented on #58
Yes, doing this similar to other package managers seems like a good idea.

[2022-04-13 14:47] chaws commented on #57
Thanks for raising the issue, cpackget was blindly looking for the version in index.pidx specified during installation. I have opened a PR #60 addressing this issue

[2022-04-13 14:52] #49 closed

[2022-04-13 14:54] #1 closed

[2022-04-13 14:55] #38 closed, assigned to chaws

[2022-04-13 14:57] chaws commented on #38
Hi @fred-r, @jeromecoutant I have added a note explaining how to do the setup when working behind a proxy: https://github.com/Open-CMSIS-Pack/cpackget#working-behind-a-proxy

Could you please confirm that works for your use case?

[2022-04-13 14:59] #57 closed

[2022-04-13 17:34] chaws commented on #57
@jkrech you are correct and this is how it has been implemented. I accidentally introduced a bug that is triggered when cpackget installs a pack with packID version older than the one specified in the PDSC tag in index.pidx and there is not pack PDSC file under .Web. cpackget searches for the PDSC tag in `.Web/index.pidx` in order to find the URL to download the PDSC file. I'll illustrate the bug

[2022-04-14 06:38] jkrech commented on #57
Thanks a lot. Now I understand and I feel relieved that we do not have a conceptual misunderstanding.

[2022-04-14 06:38] #52 closed

[2022-04-14 07:52] #34 closed

[2022-04-27 20:37] chaws opened #63 "Allow filtering when listing packs"
Extracted from https://github.com/Open-CMSIS-Pack/cpackget/issues/35

cpackget list *st* show all packs that include the letters st in the file name

[2022-04-29 10:08] jkrech commented on #63
a) We need to define whether we want to search case sensitive or not
b) We should consider consistency between tools.
[code]

[2022-04-29 14:58] chaws commented on #63
@brondani could you please point me to the implementation of `csolution list packs -f arg`? I'd like to apply the same pattern-matching to cpackget.

[2022-04-29 15:20] brondani commented on #63
@chaws Here you can find the filter implementation:
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/src/ProjMgrWorker.cpp#L1319-L1343
It checks whether all filter words (independently of the order) are present in the original list of strings. It's case sensitive.

[2022-05-03 07:28] jeromecoutant opened #67 "Same local pack added several times"
Hi

Working with local packs:

`cpackget pdsc add <pdsc file>`

We got
`<pdsc vendor="STMicroelectronics" url=file://localhost/xxx" name="xxx" version="0.0.1"></pdsc>`
in the local_repository.pidx

We update the pdsc file, to increase version for example.
We need then to update the version in our local_repository.pidx

`cpackget pdsc add <same pdsc file>`

We got the same file 2 times:
[code]

@VV

[2022-05-03 07:56] jkrech commented on #67
Thanks for reporting. I had discussed this use case with @chaws end of last week and I do expect this to be fixed soon.
The basic rule is that you cannot register the same path + <vendor>.<packname>.pdsc  twice.
At the same time we have also discussed that the version attribute in the local_repository.pidx is "meaningless".
While packs installed in $CMSIS_PACK_ROOT are read-only the purpose of the

[2022-05-03 13:39] jankap opened #68 "`cpackget` not working with corporate VPN"
`cpackget` seems to be unable to download packages when called from behind a corporate VPN (Cisco AnyConnect) + Proxy (Zscaler):

VPN enabled:
[code]

Now, VPN disabled:
[code]

Keil.STM32F1xx_DFP.2.4.0.pack is now 0 byte in size. Seems like it does not get re-downloaded or size checked.

VPN disabled + deleting Keil.STM32F1xx_DFP.2.4.0.pack:
[code]

Works as expected. So I guess there are two iss

[2022-05-03 14:00] chaws commented on #68
Hi @jankap,

How are you configuring your proxy? I have written down a few notes on it: https://github.com/Open-CMSIS-Pack/cpackget#working-behind-a-proxy

Good catch! cpackget only removes the downloaded file if it fails to unzip it. I'll fix this to remove on http errors as well

Thanks for raising the issue!

[2022-05-03 15:03] jankap commented on #68
I have to admit that I did overlook that section. Nevertheless, `$http_proxy` should be defined. Let me check.

You're welcome :) Glad I can give a little bit back.

[2022-05-03 18:54] chaws commented on #68
Hi @jankap I already fixed erroneus downloaded file here: https://github.com/Open-CMSIS-Pack/cpackget/pull/69. It should be rolled out on next cpackget release.

With regard to `$http_proxy`, were you able to confirm it's available to `cpackget`?

[2022-05-03 19:59] chaws opened #70 "Remove local packs using PDSC file name"
Currently users would add local packs using
[code]
and then remove it by running
[code]
Thus not specifying the PDSC path at all.
Since it's possible that the same path can be added multiple times using different paths,
[code]
There is no way to specify which `ARM.CMSIS.pdsc` is intended for removal.

cpackget should then:
1. Allow users to remove local packs using PDSC file path notation: `$ cpac

[2022-05-04 05:42] jkrech commented on #70
@chaws are we in agreement that once #64 is committed, the 'pdsc' command would vanish from the above?
[code]
For consistency we need to check that both cpackget 'add' and 'rm' work in a consistent way. When removing a pack with an "imprecise" identifier where multiple installed/registered packs match, does cpackget remove all of them or requires the user to precisely specify the pack/pdsc?

If `c

[2022-05-04 05:50] #35 closed

[2022-05-04 05:50] #37 closed

[2022-05-04 10:16] chaws commented on #70
Hi @jkrech

Yes! Both `pdsc` and `pack` subcommands will be in "deprecated" state. They aren't going to be displayed anywhere in cpackget's help command/usage but you'll still be able to invoke them, this is until we decide we can remove them completely.

For `cpackget rm ARM.CMSIS` would remove any installed pack within `CMSIS_PACK_ROOT/ARM/CMSIS/*`, then I agree that `cpackget rm ARM.CMSIS.pdsc`

[2022-05-04 10:27] chaws opened #71 "List packs using Yaml format "::@""
Extracted from
* https://github.com/Open-CMSIS-Pack/cpackget/pull/64#issuecomment-1116952032

a) probably we should use the ::@ format
b) specify the location of pack versions that come from
$CMSIS_PACK_ROOT/.Local/local_repository.pidx
*.csolution.yml with solution relative path (csolution only!)

* and https://github.com/Open-CMSIS-Pack/cpackget/pull/64#issuecomment-1116968777

This is inline wi

[2022-05-04 12:58] #71 closed

[2022-05-04 12:59] jkrech commented on #70
Agreed then.

[2022-05-04 17:12] chaws opened #73 "Add space after EULA options"
The EULA options string does not contain a space after it. While on Linux that doesn't matter because the answer will be read in by scanf, on Windows the answer will be printed out to the screen along with the EULA option string:

[code]
The extra "A" after "[E]xtract" is visibly not that good.

Ref: https://github.com/Open-CMSIS-Pack/cpackget/blob/v0.4.1/cmd/ui/eula.go#L43

[2022-05-05 13:22] #70 closed

[2022-05-05 14:04] chaws commented on #67
This issue was fixed in https://github.com/Open-CMSIS-Pack/cpackget/pull/74

[code]

[2022-05-05 15:52] jkrech commented on #53
@chaws I believe this is a valid use case, even though we are not supporting it today in MDK and ArmDS as they use the fixed download location. However I think that people could use the vidx2pidx utility to create their own set of "public" packs or even extend a public index with a company internal pack index.

[2022-05-05 20:57] #53 closed

[2022-05-06 13:29] chaws opened #77 "Allow reinstalling packs"
Extracted from https://github.com/Open-CMSIS-Pack/cpackget/issues/58

Then I left a comment

[1] https://pip.pypa.io/en/stable/cli/pip_install/?highlight=reinstall#cmdoption-force-reinstall

[2022-05-06 13:39] #73 closed

[2022-05-11 13:59] chaws opened #79 "Support multiple package indexes"
This issue was asked by @jeromecoutant.

Some vendors might have their own package index. Ex: Let's name https://www.keil.com/pack/index.pidx as Keil.pidx. It contains all known public packs. But ST might have their own package index, let's say ST.pidx.

While Keil.pidx contains ARM.CMSIS and hundreds of other packs, it might not contain an ST-only pack e.g. STM.Pack. Whereas ST.pidx contains STM.

[2022-05-11 14:00] chaws commented on #79
@jkrech after you suggestion of using vidx2pidx to merge those 2 into a single index, it got me thinking about updating a list of all packs. Given that the merged pidx will only contain a single URL tag, which URL should that point to?

[2022-05-11 14:14] #58 closed

[2022-05-11 14:44] fred-r opened #80 ".pack installation failure"
[code]

And:
[code]

[2022-05-11 15:15] jkrech commented on #79
All vendors must maintain vendor.pidx files that only list packs from one vendor.
A maintainer of an index.pidx file need to maintain a provider.vidx file
The expectation is that both the provider.vidx and the resulting index.pidx are hosted at the same <url>
Therefore the answer to your question is, that the  <url> tag in the index.pidx is inherited from the vidx file that was used to generate th

[2022-05-12 07:25] jeromecoutant commented on #79
Hi
My first thought was that, in CMSIS_PACK_ROOT, in .Web, instead of having only 1 index.pidx, there is Keil.pidx, STMicroelectronics.pidx, ARM.pidx, ....
Then when user is using `cpackget pack add <vendor>.<name>`, tool can get information in the correct vendor pidx file.

[2022-05-12 07:42] jeromecoutant commented on #80
Maybe linked to https://github.com/Open-CMSIS-Pack/devtools/issues/329 ?

[2022-05-12 08:08] jkrech commented on #79
Hi Jerome,
I did understand your proposal but looking at it from an end user's perspective I don't want them being exposed to this. We should not present "fragmentation". At the same time we need to be transparent. I hope this is an acceptable compromise.

[2022-05-12 08:10] jkrech commented on #79
Please note if a tool does not find a valid <url> tag in the index.pidx I think there is simply no way for the tool to execute an update and should report this as an error.

[2022-05-12 12:18] jkrech commented on #79
@jeromecoutant and @chaws  are you happy to close this issue or specify what actions need to be taken?
e.g. @chaws do you need to raise an issue against vidx2pidx to derive the <url> tag content from the input vidx file? Which may also be an empty string.

[2022-05-12 13:28] jkrech commented on #80
I see. I guess we must not read the version backwards from the last "." prior to the file extension (*.pack *.zip).
Instead we rely on the "." as separator between `<vendor>.<name>.<version>.[pack|zip]`
This means `<vendor>` and `<name>` must not contain any "." so version starts after second "." and we strip `.[pack|zip]` to get to extract that complete semantic version.

[2022-05-12 16:49] chaws commented on #80
OK, I think I have found the reason. Cpackget uses the regex for semantic versioning from [packIndexFile](https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/packIndexFile.html) spec and I have figured that it is matching more than it should:

From the regex in PackIndexFile spec, this is the pattern snippet for the "quality" part of the version (note that there is 3 capturing groups,

[2022-05-13 07:24] jkrech commented on #80
@chaws thanks a lot for the investigation. Could you please also raise a PR against the PACK.xsd to get the expression there to match the one from semver.org. Please include a link in the comment which reference you have been using.
Thanks a lot.

[2022-05-13 16:34] #80 closed

[2022-05-13 16:36] chaws commented on #80
I have merged the bugfix for this issue. I will rollout a new release of cpackget next week.

[2022-05-15 08:50] fred-r opened #82 "Question : is it expected to download a pdsc when removing a .pack from CMSIS_PACK_ROOT ?"
[code]

==> is the last step really needed ?

[2022-05-16 08:00] jkrech commented on #82
Good point. Thinking about it, I cannot see a reason to require the pdsc file download in case of removing a pack/pack version. I guess it is a side effect of how the tool is designed when "identifying" packs being one of the initial steps.
I would recommend to review the approach. The "remove" command should not care about whether this is a valid public version that is going to be removed or got

[2022-05-16 19:06] #77 closed

[2022-05-17 14:24] chaws opened #83 "Investigate why pack extraction is so much slower on Windows"
Pack installation on Linux is much faster if compared to Windows. Part of the installation process consists of extracting the files in the pack, and this is done via Golang's stdlib. Perhaps that is not the best way to do on Windows?

For example, when writing files on Windows it spawns a new process for that, so if the cpackget tries to change the same file's content, it fails on Windows but not

[2022-05-18 04:03] chaws commented on #79
@jkrech sorry for late answer on this issue.

But while I was building up an example for Jerome in order to merge such `Keil.pidx` and `ST.pidx` into a single `index.pidx` file using vidx2pidx I found a problem: the content of Keil.pidx (https://www.keil.com/pack/Keil.pidx) contains much smaller number of packs if compared to index.pidx (https://www.keil.com/pack/index.pidx). Is that expected? I c

[2022-05-18 06:26] #82 closed

[2022-05-18 09:19] lud0v1c commented on #48
This sounds correct to me. The correct behavior should be to install the lowest possible ARM.CMSIS pack correct? And if only 5.9.0 is available, no error but an info message should be printed saying it's already installed right? If no version above 5.7.0 was found, then it should return an error.
Just trying to understand the problem here

[2022-05-18 13:54] lud0v1c commented on #48
That makes more sense to me, thanks @chaws.

[2022-05-18 14:05] jkrech commented on #48
I agree with 1 and 2.
Regarding 1) I just want to ensure that we are all aligned how the list of installed pack versions is created.
a) find all installed pack versions
b) read all pdsc files listed in local_repository.pidx to identify their pack version. If a pack version already exists in a) overwrite it's location

This combined list of pack versions should be used for
a) list installed packs
b

[2022-05-19 11:29] Jonny-vb commented on #8
How would this affect local packs? We use software packs for internal libraries and probably don't want to have to start messing around with signing them. Just wanting to make sure this is a use case that isn't forgotten about!

[2022-05-19 12:24] fred-r commented on #8
In my opinion anyway, you should always have the possibility to disable the signature check by default.
This signature check should be optional with the reference tools otherwise many people will be blocked.

But, for people who want more security, then the check could be enabled.

[2022-05-20 10:37] jkrech commented on #56
@chaws  do you have a timeline for addressing this defect?

[2022-05-20 10:45] jkrech opened #85 "Cannot scroll up after displaying license and error message if I declined"
Windows cmd:
`cpackget add Arm-Packs::Unity`
Pressing key 'd'
[code]
I cannot scroll further up. The first line is the E: which also gets duplicated
Note I am not sure I would consider this an error, as the operation selected by the user was executed successfully.

[2022-05-20 13:48] lud0v1c commented on #48
@jkrech Regarding issue 1: does the order matter in a) and b)? As it currently stands, the list generated in a) contains all packs/versions, I was thinking of creating that empty list first (installedVersions), checking the local_repository for all the installed versions and appending them to the list, and then the rest of the process follows as usual (checking what is locally installed or not, th

[2022-05-20 13:56] jkrech commented on #48
@lud0v1c  we can either install a pack or add a reference of the pdsc to the local_repository.pidx!
Therefore I can install the same pack version that is already referenced by as pdsc in the local_repository.pidx
Effectively the tools will not look at the installed pack version because the one listed in local_repository.pidx will take precedence.
However, if the user lowers the version in the refe

[2022-05-20 14:04] chaws commented on #85
I tested on Linux and scrolling seems fine after declining the license. Let me report back after replicating this issue on Window.

[2022-05-24 10:54] #48 closed

[2022-05-24 12:35] jeromecoutant opened #89 "cpackget doesn't download the latest pack version"
Hi

In my CMSIS_PACK_ROOT, I have this pack installed:
[code]
My index.pidx is correct I think:
[code]

I think cpackget should install the new version, but it doesn't:
[code]

I would expect something like:
[code]

[2022-05-24 12:53] chaws commented on #89
Hi @jeromecoutant could you please retry it by running

[code]

From what I remember in previous discussions with @jkrech , if you don't specify the version then any installed version already satisfies the installer.

[2022-05-24 13:06] jeromecoutant commented on #89
[code]

https://github.com/Open-CMSIS-Pack/cpackget/blob/main/README.md?plain=1#L77
=> Install the latest published version of a public package listed in the package index:

[2022-05-24 13:14] lud0v1c commented on #63
@jkrech if we want to mirror csolution's behaviour, should `cpackget list -f`:
- Accept several words
- Be case sensitive
- Maybe a wildcard (*) would be nice, to facilitate searching for similar packs

[2022-05-24 15:26] jkrech commented on #63
I suggest you talk to @brondani to align the implementation/features supported by cpackget and csolution.
See the documentation here:
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/Overview.md#commands

[2022-05-24 15:42] jkrech commented on #89
@chaws looks like you  first compute what "latest" resolves to (0.1.0) but then you keep that info and try to extract a pack that has the version "latest", which is not a valid version format.

[2022-05-24 15:42] lud0v1c commented on #63
Me and @chaws discussed it a bit after I left my comment, and I agree with you that wildcards are not needed, as the behavior you described is pretty much it. I will reach out to him to confirm.

[2022-05-25 11:24] chaws commented on #89
Argh, sorry about that!

Jerome, the documentation is outdated. Please @jkrech correct me if I'm wrong, but once we added `@`, `@~`, and `>=` to cpackget, we decided that some behaviors would change. Before this feature, installing a pack with `cpackget pack add ARM.CMSIS` would *always* install the latest one. But after the new features kicked in, that syntax would be satisfied if any `ARM.CMSIS`

[2022-05-25 13:16] jankap opened #90 "E: expected element type <index> but have <html>"
**Describe the bug**
New pack location init does not work.

**To Reproduce**

[code]

The file does exist, but probably not in the correct directory?

![image](https://user-images.githubusercontent.com/12893844/170270689-337ee7fe-a9d1-4924-84ea-931102c190d9.png)

![image](https://user-images.githubusercontent.com/12893844/170270842-b862889a-ee9a-487c-a691-39446d06afb1.png)

[2022-05-25 13:28] jkrech commented on #90
Correct the index.pidx needs to be located in the .Web folder:
`Downloading https://keil.com/pack/index.pidx to PACK_TEST\.Download\index.pidx`
However I think there is a problem with the command line as well.
The index.pidx file download link the 'www' is missing:
`cpackget init -R .\PACK_TEST\ https://www.keil.com/pack/index.pidx -v`

[2022-05-25 14:09] jankap commented on #90
Oh dear, it was the `www`.

Could you please update the docs here to avoid that issue? https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/cpackget/docs/cpackget.md#specify-the-working-pack-root-folder

Thank you very much for your help!

[2022-05-25 14:09] #90 closed

[2022-05-25 15:47] jeromecoutant commented on #89
Yes, this command is working

[2022-05-25 15:56] jeromecoutant opened #91 "sha1 check during pack add"
Hi

For example, in CMIS_PACK_ROOT/ARM/CMSIS/5.9.0
there is a sha1 file: ARM.CMSIS.sha1

Does cpackget check this file while unzipping pack file?
If some sha1 is failing, is pack rejected ?

More info in https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/bash_script.html

Thx

[2022-05-25 16:12] jeromecoutant commented on #89
More difficult use case :-)

My current tree:
[code]

My current pidx:
[code]

[code]

[2022-05-26 12:54] chaws commented on #91
No, cpackget does not check that sha1 file. I wasn't aware of that too, thanks for raising this issue!

@jkrech is this still part of packs schema? I'm asking because we never ran into that file before.

[2022-05-27 07:47] jeromecoutant commented on #89
Note I think you don't have to compare 2.0.0-alpha.0.5 with 2.0.0-alpha.0.6,
you just have to trust .Web/index.pidx information

[2022-05-27 13:40] chaws commented on #63
Addressed by https://github.com/Open-CMSIS-Pack/cpackget/pull/92

[2022-05-27 13:40] #63 closed

[2022-05-27 22:14] chaws commented on #89
Could you please past the debug part where it says

[code]

?

I think this is because the index.pidx is more up-to-date if compared to the pack pdsc file within `.Web/`

[2022-05-30 07:26] jkrech commented on #91
@chaws, this is "just a file"in the CMSIS pack but this does not mean it is part of "the specification". Therefore there is currently no requirement for cpackget to "validate" it.
In my view we should progress the specification of digital signatures for packs and how tools like cpackget should treat this information.

[2022-05-30 09:09] jkrech commented on #89
I think the challenge here is:
a) for downloading a pack, cpackget must not rely on the information contained in the index.pidx, because a <release> tag may contain an explicit download link that overrides the url attribute from the index.pidx
b) as a consequence cpackget needs to ensure that the pdsc file for a pack is available in the .Web folder to read the <releases> section
c) it looks like c

[2022-05-30 10:38] ReinhardKeil opened #93 "Help text on Windows misleading"
**Describe the bug**
On windows the help message for -R option is somewhat confusing

Instead of:
[code]

It should be:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the cpackget on Windows 10 with the following command line
[code]

Note that this issue might exist in other places too.

------

With the command `cpackget index -h` (on Windows) there is another misleading output.

[2022-05-30 12:03] chaws commented on #89
Yes, the feature is missing indeed. It is not taking into consideration that after index.pidx gets updated, the Vendor.Pack.pdsc might get outdated. So updating it after checking the version in index.pidx should be the best approach here.

[2022-05-30 12:28] jkrech commented on #89
Note that this is the "sparse" update mode.
The 'update' implemented in other tools like MDK or eclipse, where the UI displays packs, devices, boards and examples from all public packs require to download the latest version of the index.pidx and then check for each pdsc file in the .Web folder whether
a) it does not exist -> download
b) it is not the latest version -> download
c) it exists, but is

[2022-05-30 13:00] chaws commented on #89
Perhaps all the three behaviors could be implemented and executed by default when updating the index?

[2022-05-30 13:42] chaws commented on #93
The path is being escaped. I'll look into getting the path in this and other places un-escaped as well. The same for the environment variable notation.

[2022-05-30 13:46] chaws commented on #91
@jkrech Since this file is created in https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/bash_script.html, which is located in the official docs, cpackget could validate it only if the `*.sha1` file is present. That should check for file integrity until digital signature is implemented. What do you think?

[2022-05-30 14:06] jkrech commented on #91
I would safe the time and focus on defects and other features, as this will become obsolete and is not defined by the standard.

[2022-05-30 14:11] jkrech commented on #89
Executing a `full` update versus a `sparse` check for updates shall be an option for the user.
Assuming a CI system running a full check for updates seems like a waste of time and resource.

[2022-05-31 11:54] jkrech commented on #89
@jeromecoutant thanks for following up. I believe in the meantime we had figured out the missing pdsc update step, which you confirmed with your manual step. Even though in your case just taking the information form the index.pidx file to construct the download link, this is not sufficient in the most general case.

[2022-05-31 11:57] jkrech commented on #83
My assumption it is because the virus protection does not trust unsigned executables.

[2022-05-31 18:41] chaws commented on #91
Ack.

Just FYI @jeromecoutant I'm closing this issue and adding a note in https://github.com/Open-CMSIS-Pack/cpackget/issues/8 mentioning that per-file integrity check should be accomplished as well.

[2022-06-02 04:39] chaws opened #95 "Git-bash does not show license window on Windows"
On Linux, there is a nice window displaying the EULA text. While on Windows that's is not the case.

[2022-06-02 11:54] lud0v1c commented on #85
Tried this out with Powershell and it happens as described, after declining the error message gets duplicated and the current screen gets wiped.. Investigating why

[2022-06-07 05:58] ReinhardKeil opened #96 "Question: What is the difference under removing packs"
I have a question regarding the documentation section https://github.com/Open-CMSIS-Pack/cpackget/blob/main/README.md#removing-packs

What is the difference between
  - removing packs (the first 2 examples)
  - removing packs that were installed via PDSC file (the last 2 examples)

Is this just an artifact of the previous command versions or is there more to it?

[2022-06-07 06:07] ReinhardKeil opened #97 "Question: is extension *.pack supported"
It is unclear if the extension `*.pack` is supported when specifying packs.

I found the following inconsistency:
[code]
While the command `rm` seems to accept the extension `*.pack`, the command `add` seems not to handle it.

**Environment:**
```cpackget version 0.5.0 (C) 2022 Linaro```
Running on Windows 10.

[2022-06-07 06:15] ReinhardKeil opened #98 "Version Number check too strict"
Some projects use a version schema that includes `mm.yy` format. A leading `0` in the month field is not accepted by `cpackget` due to the strict checking of the semantic versioning format.

See also https://github.com/Open-CMSIS-Pack/Open-CMSIS-Pack-Spec/issues/126

This results in the effect that some packs cannot be installed right now.  Example:
[code]

For the time being, I suggest to relax t

[2022-06-07 06:22] ReinhardKeil opened #99 "Question: what triggers the need for a PROXY configuration"
The section https://github.com/Open-CMSIS-Pack/cpackget#working-behind-a-proxy explains the configuration of a Proxy.

When would I need to configure that?  Are there any error messages printed?

And as a user, how would I find the name of the PROXY that I need to specify?

[2022-06-07 06:30] jkrech commented on #97
@ReinhardKeil, you should not specify the `.pack` extension in this case, because cpackget is assuming that you want to install that file from the current directory:
[code]
In this case you want to download and install a public pack and you should specify the pack ID:
[code]
or matching the csolution notation
[code]

[2022-06-07 06:40] jkrech opened #100 "cpackget list command prints superfluous 'blaaaaa'"
**Describe the bug**
When running `cpackget list` the output contains the info message 'blaaaaa'

**To Reproduce**
Steps to reproduce the behavior:
1. run cpackget list
2. See info:
[code]
**Expected behavior**
[code]

**Environment (please complete the following information):**
 - OS: windows 10
 - Version 0.5.0

**Additional context**
utils.go line 291
func CleanPath
log.Info("blaaaaa")

[2022-06-07 06:45] jkrech commented on #99
Please see issue: https://github.com/Open-CMSIS-Pack/cpackget/issues/68
Companies requiring to use proxy settings for accessing the internet inform their users about this, since all tools accessing the internet will require these settings.

[2022-06-07 07:03] jkrech commented on #96
@chaws you need to update the documentation for removing pack from the `local_repository.pidx`
a) removing a pdsc entry from the `./Local/local_repository.pidx` requires to specify the `pdsc` file extension!
e.g.:
Remove pack Vendor.PackName from the local_repository.pidx:
[code]
There is no way to specify a version in this context. If there is multiple pdsc files with the same name, the full path

[2022-06-07 12:56] ReinhardKeil commented on #97
I improved the documentation, but when specifying the extension explicitly, it should be assumed that the pack is on the local computer. I would remove the option, that it gets downloaded via the public index in this case.  That would make the operation clearer.

See also the documentation in https://github.com/Open-CMSIS-Pack/devtools/tree/main/tools/cpackget/docs

[2022-06-07 13:11] #54 closed

[2022-06-07 13:11] #89 closed

[2022-06-07 13:20] chaws commented on #83
I think you could first attempt to use a native unzip utility already available on Windows.

[2022-06-07 13:24] chaws commented on #100
Argh, Sorry about it. Leftover debugging message when I did this PR: https://github.com/Open-CMSIS-Pack/cpackget/pull/64
Fixed in https://github.com/Open-CMSIS-Pack/cpackget/commit/502c3d60fbc780a6de544d81130f9864af835c72

Thanks for raising the issue!

[2022-06-07 13:24] #100 closed

[2022-06-07 13:27] chaws commented on #79
I'm closing down this issue. For now it will not be possible to have multiple indexes in cpackget.

[2022-06-07 13:27] #79 closed

[2022-06-07 13:56] jkrech commented on #97
Note that both commands assume a file on your computer in the current directory:
[code]
I just added the '.\' to make it more obvious.

[2022-06-07 14:02] #97 closed

[2022-06-07 19:13] chaws commented on #98
I have extended the regex cpackget uses to allow leading zeros in the version. It is worth to mention that pack directories will have leading zeros as well.

[2022-06-07 19:19] chaws commented on #96
Argh, I was sure I updated the README, but it was actually in the help:

[code]

I'll add that to docs too.

[2022-06-08 17:52] lud0v1c commented on #83
Tested adding different sized packs and some Windows native ways to unzip:
* `powershell.exe -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory(p.path, packHomeDir); }"` -> Comes with Windows 8 and later
* `tar.exe -xf` -> Comes with Windows 10 build 17063 and later
* `Expand-Archive -Path p.path -DestinationPath packHomeDi

[2022-06-09 06:04] jkrech commented on #83
a) I am not really too concerned about performance (yet?)
b) I do not think that we have to support any very old/unsupported Windows versions, however let's make sure we communicate/document this clearly. I don't think we currently detail OS versions being supported by the tools.

[2022-06-09 12:40] chaws commented on #85
I have done some experimenting and we the only workaround I could work out is opening a new `cmd` window just with the license. Then after user's response, the window would close out and cpackget would continue from there.

Does that seem reasonable to you @jkrech ?

[2022-06-09 12:45] jkrech commented on #85
@chaws I am not sure how this could work if I am in a terminal session to the machine? Where would that other window pop up? I think you would need to run the cmd in the same window?

[2022-06-09 12:56] chaws commented on #85
@jkrech this would only be applied if you're running a GUI. The idea is:
1. Window 1 (git-bash or cmd): `cpackget add <pack-with-license>.pack`
2. Window 2 will be a new cmd terminal, displaying only the license window like the image below. Meanwhile, cpackget on Window 1 will be waiting for user input on Window 2
3. User accepts/declines/extracts the license
4. Window 2 close out
5. Window 1 cont

[2022-06-09 12:58] chaws commented on #85
I talked to Luis, we both did some research on why scrolling gets messy, but we couldn't find the reason why unfortunately. If I was to guess, it is due to some hidden configuration on the terminal. Note that this does not happen in git-bash.

[2022-06-09 13:00] jkrech commented on #85
Assuming we can rely on the detection of "running with GUI", this makes sense then. But it does not change the problem for the none-GUI mode then, right?

[2022-06-09 13:04] chaws commented on #85
The [interactive-mode detection](https://github.com/Open-CMSIS-Pack/cpackget/blob/main/cmd/utils/utils.go#L306) on cpackget is what it seems the common practice. While it has a false positive on git-bash (hence https://github.com/Open-CMSIS-Pack/cpackget/issues/95), it shouldn't try to pop up a new window on CI, for instance.

This behavior will only be applied on Windows platforms.

[2022-06-09 13:12] chaws commented on #56
@jkrech This took a bit more effort than I imagined, but I'm close to send a PR with setting the read-only flag in the CMSIS_PACK_ROOT installation folder.

Before I push the PR, I wanted to check if there will be any file that won't need to have read-only flag set?
I'm changing cpackget to set read-only for **all files and directories** including `.Web/*`, `.Local/*`, `pack.idx`, `.Download/*` an

[2022-06-09 13:34] jkrech commented on #56
@chaws this sounds reasonable, as we don't want people to manually edit the content of the CMSIS-Pack root folder. Being primarily a windows user, I maybe overlooking a specific use-case, since the windows permission handling is not great and read-only is ignored by many commands e.g. `del`

[2022-06-09 14:29] #98 closed

[2022-06-15 11:42] lud0v1c commented on #83
Closing for now until further need to revamp the extraction process.

[2022-06-15 11:42] #83 closed

[2022-06-16 16:30] jeromecoutant opened #103 "local packs file: sort pindex ?"
Hi

Do you think it could be easy and nice to sort each pdsc line in .Local/local_repository.pidx ? :-)

Thx

[2022-06-17 09:07] lud0v1c commented on #8
There's now [a wiki page](https://github.com/Open-CMSIS-Pack/cpackget/wiki/Proposals) for proposals like this, which Ĩ added this feature to. Added the proposal Google Doc there for more technical discussion.

[2022-06-20 10:09] lud0v1c commented on #103
Currently the local .pidx gets new entries concatenated to the end of `<pindex>`, do you mean sorting as grouping packs from the same Vendor and listing them from newest to oldest version?

[2022-06-20 10:41] jkrech commented on #103
Please keep in mind that for this to be useful, we need to extend the specification such that **all** tools editing the `local_repository.pidx` would follow the same sorting.
In my opinion we should not require tools to sort XML elements by `attribute values`.
I rather think that the tools could sort the output when listing the content (e.g. cpackget list packs could sort the output, or even group

[2022-06-20 11:37] jeromecoutant commented on #103
This was a quick question to open discussion...

I agree that `cpackget.exe list` is OK
(except #100 :-))

[2022-06-22 15:47] lud0v1c commented on #85
Error message is now a normal info message ([eaa7f7e](https://github.com/lud0v1c/cpackget/commit/eaa7f7e12419d9778b0f4ecf3cf7442897e17286)).

[2022-06-23 07:26] DavidJurajdaNXP commented on #103
I am supporting canonical order. It is useful for diff. I would prefer files ordered in standard way by common formatting tool. Same principal should be applied also for *.pdsc and csolution.yml.

[2022-06-27 14:30] jkrech opened #104 "local_repository.pidx url is specified with backward slashes by cpackget on windows"
**Describe the bug**
local_repository.pidx url is specified with backward slashes by cpackget on windows, despite the Open-CMSIS-Pack specification requiring to only use forward slashes for compatibility across host platforms.

As a side effect, same pdsc file can be added with MDK PackInstaller and cpackget only differing in slashes:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. R

[2022-06-28 12:59] jkrech opened #105 "Extend cpackget to handle pack requirements"
The CMSIS-Pack Specification supports the definition of pack dependencies:

[\<requirements\>\<packages\>](https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/element_requirements_pg.html#element_packages)

a) extend the `list` command output to add an indicator to packs that specify package requirements
b) add a command that lists the dependencies specified by the pack specified
[cod

[2022-06-28 13:02] jkrech opened #106 "Extend cpackget to handle pack requirements"
The CMSIS-Pack Specification supports the definition of pack dependencies:

[\<requirements\>\<packages\>](https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/element_requirements_pg.html#element_packages)

a) extend the `list` command output to add an indicator to packs that specify package requirements
b) add a command that lists the dependencies specified by the pack specified
[cod

[2022-07-05 14:56] lud0v1c commented on #93
Closing this for now, subscribed to the Cobra issue in case any relevant updates or the pending PR is pushed as not to add such additional complexity (the first part is [already done ](https://github.com/lud0v1c/cpackget/commit/bc6cb3918a41ddceba1eda37ac65ac4823ab14b7)).

[2022-07-05 14:56] #93 closed

[2022-07-05 22:27] chaws commented on #105
Instead of a specific command just for pack's dependencies, we could have a `details` showing some pack info, such as available releases, description, components, etc. The dependencies could be a comma-separated list with all dependencies. What do you think?

This seems a cpackget feature in my opinion. The only thing is this would have to be turned on via a flag due to backwards compatibility:
`c

[2022-07-07 05:54] jkrech commented on #105
I would prefer cpackget to strictly stick to pack level information. Therefore available versions and descriptions are in scope, while devices, boards, examples, components, conditions, etc.  in my view are out of scope (pack content).
Please note that pack level dependencies, must not be mixed with component dependencies!
How about adding a command `cpackget info pack` on top of `add` and `rm`. T

[2022-07-07 07:17] jkrech opened #107 "[cpackget] additional command to download latest versions of all pdsc files from index.pidx (in .Web folder)"
cpackget was intentionally designed to not rely on the presence/cache of all pdsc files listed in the index.pidx of the .Web folder.
In case cpackget is used in the context of a tool that requires to collect information from all latest public package description files, it would be desirable to have cpackget offering this functionality. E.g.
[code]

[2022-07-07 07:38] JonatanAntoni commented on #107
Incremental update of an existing cache not to forget. Initial download of the Keil index with all its listed pdsc files takes its time already today. Fetching each file separately adds a lot of overhead in today's index layout.

[2022-07-11 13:18] lud0v1c commented on #107
Also verified this. @JonatanAntoni any behavior you would like to see implemented regarding downloading .pdsc files?

[2022-07-12 10:12] lud0v1c commented on #105
Being cpackget a "pack manager", I think it makes sense to have some notion of dependencies/requirements, even more if they are a part of the Pack specification.
Why not, when doing an `add` or `rm`, prompting the user if they want to install/delete the proposed requirements? This way cpackget wouldn't force any behavior, but the user would still be able to follow the best practices.
We could have

[2022-07-12 12:00] jkrech commented on #105
Note the prompting is only addressing the interactive use case. For an unattended workflow this is not an option.

[2022-07-26 13:41] #56 closed

[2022-08-04 16:33] lud0v1c commented on #103
Any further discussion/comment on this? Have other tools been updated to support this behaviour? @jeromecoutant

[2022-08-08 14:52] lud0v1c opened #110 "Stuck on downloading "bad" public .pdsc URL"
**Describe the bug**

While working on #107, after enabling mass download of all publicly listed .pdsc files and `cpackget init`'ing with this mechanism, some of the .pdsc files take a really long time to download, eventually throwing the expected errors:

[code]

The entire process took 18 minutes of which 2 or 3 were due to waiting for this timeout. Even though CTRL+C stopped the following downl

[2022-08-14 18:05] lud0v1c commented on #103
Closing for now.

[2022-08-14 18:05] #103 closed

[2022-08-14 18:22] #107 closed

[2022-08-14 18:22] #110 closed

[2022-08-15 17:02] lud0v1c commented on #104
@jkrech fixed. To conclude this issue, is the upper `<vendor>` tag also forward-slash only? e.g:
[code]

[2022-08-17 07:03] jkrech commented on #104
The above use of <vendor> and <url> tags is incorrect.
Like in a pdsc file the <url> and <vendor> and <name> are used to specify the origin/location of the file.
<url><vendor>.<name>.pdsc
For the pidx files the schema has <vendor> and <url>. The location of a vendor index file is
<url><vendor>.pidx
In this case the filename is "local_repository", therefore the name tag needs to be local_repository

[2022-08-17 09:44] lud0v1c commented on #104
Yes it does. Can you confirm the paths are correct on your side (apart from the backward slashes)? I used a PDSC from the local integration tests, on a new pack root/installation.

[2022-08-17 10:07] jkrech commented on #104
Not sure I understand. I have used version 0.7.1 of cpackget on Windows right now and added a local repository.

[code]
Does that help?

[2022-08-17 10:55] lud0v1c commented on #104
Yes. I will change the `<vendor>` XML path tags to only include forward slashes too.

[2022-08-17 12:04] jkrech commented on #104
No, the `<vendor>` needs to be constant:
`<vendor>local_repository</vendor>`
The path to the local_repository.pidx file needs to be specified using forward slashes in `<url>` tag
`<url>file://localhost/c:/tmp/packroot/</url>`
Would you agree?

[2022-08-17 13:24] lud0v1c commented on #104
Yes, that makes sense. So it's just not a case of the PDSC files not matching the specification (using `\` instead of `/`), but the local index's XML is also not matching the `index/vendor` and `index/url` tags specification correct? If so, maybe it's best to open a separate issue regarding that.

[2022-08-22 11:25] jkrech commented on #104
Feel free to open a new issue for that if that makes it cleaner for your PRs.

[2022-08-22 18:52] lud0v1c opened #112 "Vendor tag value on a local repository should be static"
**Describe the bug**

The `index/vendor` tag value on a local repository's .pidx file should always be `local_repository`, as that index only exists in the context of the local environment.

**To Reproduce**
1. Initialize a local repository by adding a local pack, or use an existing one
2. Open `.Local/local_repository.pidx` and confirm that the tag's value is the path to the local repository.

**

[2022-08-23 17:27] lud0v1c opened #113 "Wrong version output"
**Describe the bug**

`cpackget --version` outputs an older version.

**To Reproduce**

1. Get latest build (v0.7.1)
2. Run `cpackget --version`
3. Confirm the output is `cpackget version 0.5.1-32-gd3b366d (C) 2022 Linaro`

**Expected behavior**

The release version should be printed, not an older one.

**Environment (please complete the following information):**
 - OS: Ubuntu 22.04.1 LTS
 - Versi

[2022-08-23 17:54] lud0v1c opened #114 "Number of retries instead of hard timeout"
**Describe The Problem To Be Solved**

With the introduction of a timeout flag in cpackget v0.7.1, some users might find hard to come up with a sensible number, as a value can be high enough for certain hosts but not enough for others.

**(Optional): Suggest A Solution**

Instead of specifying a timeout in seconds, specify a `--number-of-retries` instead. Like what happens in TCP, start with a sma

[2022-08-23 18:04] lud0v1c opened #115 ""Lighter" repetitive HTTP GETs"
**Describe The Problem To Be Solved**

When performing a concurrent download, some hosts might be listed several times, as many vendors list several packs/pdsc files. Initiating multiple fast HTTP connections and GET requests might be seen as a DoS or threat by them, potentially blacklisting the user or denying the download.

**(Optional): Suggest A Solution**

If the same base domain/URL is detec

[2022-08-23 18:07] lud0v1c opened #116 "Hide certain global flags if not relevant"
**Describe The Problem To Be Solved**

If possible, only show certain global flags if they are relevant for the command in question (like showing --concurrent-downloads in a `cpackget help rm`.

[2022-08-26 12:13] jeromecoutant opened #117 "File permission for generator tool"
Hi

https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Format.md#generator-proposal

Our generator could be .sh files and need to be executed with "x" permission. (especially in Linux)

Is it up to `cpackget` to change file mode during "unpack",
or `csolution` to force x permission before executing generatot command?

Thx

[2022-08-26 13:00] jeromecoutant opened #118 "Folder permission issue"
Hi

It seems that, after installation, cpackget set 0400 permission for all folders in $CMSIS_PACK_ROOT

It is then not easy to delete/update them after...

Thx

[2022-08-26 13:12] jeromecoutant commented on #118
Issue occurs since #56

[2022-08-26 14:19] lud0v1c commented on #118
Hey Jerome, this is an intended feature implemented since cpackget v0.7.0. Issue #56 is resolved in #109.
The pack root in theory should not be edited manually but by the dedicated tools, what is it that you are trying to achieve?

[2022-08-26 14:35] jeromecoutant commented on #118
I got a script that removes current pack directory before re-install a new one

[2022-08-29 07:32] jkrech commented on #117
@jeromecoutant, how about retaining the 'x' permission from the zip archive. Not sure what the host platform dependencies are. We probably should add a check to PackChk to list files with 'x' permission to ensure they are set "intentionally".
@lud0v1c, you should be able set all files permissions to read-only (clear the 'w' flag) without affecting the 'x' flag right?

[2022-08-29 08:55] lud0v1c commented on #117
Yes, I think that should be possible. Will try it out.

[2022-08-30 09:30] #104 closed

[2022-08-30 09:30] #113 closed

[2022-08-30 09:30] #112 closed

[2022-09-05 13:09] spcaipers-arm opened #120 "cpackget init misleading error"
**Describe the bug**
`cpackget init` gives a misleading error when using wrong syntax.
In the end, looks working though.

**To Reproduce**
Install cmsis-toolbox v1.0.0
Run: `cpackget init "C:\Keil_v5\ARM"`

**Observed behavior**
`C:\jenkins\workspace\MDK-Middleware\dev\MW>cpackget init "C:\Keil_v5\ARM"`
`I: Using pack root: "C:\Keil_v5\ARM\PACK"`
`E: open C:\Keil_v5\ARM: is a directory`

**Expecte

[2022-09-07 07:55] jeromecoutant opened #122 "cpackget init issue with the new toolbox"
With toolbox 1.0.0:
[code]

With toolbox 1.1.0:
[code]

Looking at commit history, I think #111 has introduced an issue

Regards,

[2022-09-07 08:37] spcaipers-arm opened #123 "Install local packs using wildcards and from a folder"
**Describe The Problem To Be Solved**
It would be useful to install multiple packs (especially when you do not know the pack names e.g. running in CI) and also install all packs found in a folder (also recursively).

**(Optional): Suggest A Solution**
Install local packs using wildcards and from a folder (with an option for recursivity)
CLI example:
`cpackget add *.pack`
`cpackget add -r folder/`

[2022-09-07 12:22] lud0v1c commented on #122
There were some small modifications on how cpackget handles HTTP GETs, but they shouldn't affect domain resolution when using a proxy. Looking into it.

[2022-09-07 13:53] jkrech commented on #123
@spcaipers-arm
Are you aware that you could simply create a file containing a list of pack files to be installed using
`cpackget add -f packlist.txt` ?
Also you can now run `csolution -s my.csolution.yml list packs -m > packlist.txt` to create the list of packs used by a solution.

[2022-09-07 14:31] lud0v1c commented on #122
@jeromecoutant is it HTTP_PROXY or HTTPS_PROXY that you are setting when the init fails?

[2022-09-07 14:34] jeromecoutant commented on #122
I got both

[2022-09-07 14:35] lud0v1c commented on #122
From my testing, setting HTTPS_PROXY pointed to an invalid SSL certificate will fail. Is your proxy using some sort of self signed certificate?

[2022-09-07 15:08] lud0v1c commented on #122
To be able do download from `https://www.keil.com/pack/keil.pidx` via a proxy, you need a valid certificate on your HTTPS_PROXY. HTTP_PROXY won't have any effect here, as it's an HTTPS GET.

[2022-09-07 15:56] jeromecoutant commented on #122
HTTPS_PROXY and HTTP_PROXY is the same, I think there is Zscaler behind it...

But my configuration is OK, as cpackget version 0.7.0 is working well :-)

[2022-09-08 06:43] jeromecoutant commented on #122
Great, it's working!
Thx

[2022-09-11 12:01] #116 closed

[2022-09-11 12:01] #120 closed

[2022-09-12 06:39] jkrech commented on #122
@jeromecoutant please give 0.8.1 a trial and close this issue, if your problem got fixed.

[2022-09-12 06:43] jkrech commented on #118
@jeromecoutant we have no plans to revert the "protection" of the CMSIS_PACK_ROOT folder. Could you please update you script to change the permissions prior to deleting a pack directory? Please close the issue if this is acceptable or propose an approach to deal with your use case.

[2022-09-12 06:46] jkrech commented on #117
From @lud0v1c response it is unclear to me whether cpackget currently overrides/clears the execute file permission. Assuming it does, I have set the label "bug".
@jeromecoutant do you think retaining the execute permission flag would be sufficient?

[2022-09-12 07:12] jeromecoutant commented on #118
OK for me

[2022-09-12 07:12] #118 closed

[2022-09-12 07:24] jeromecoutant commented on #117
Hi
In parallel of #118 workaround (changing permission of directories), I have also changes the permissions of all sh files :-)

It is unclear to me how can be a pack formatted with Windows, and used in a Linux system...
Maybe forcing x permission for sh scripts can be easy to implement and this will avoid some future issues?

[2022-09-12 07:36] jkrech commented on #117
@jeromecoutant, good point. Probably the zip operation needs to be done on a UNIX system. As we may have other "executables" with or without specific file extensions, just searching for file extensions may not solve searching for *.sh either.

[2022-09-12 07:48] jeromecoutant commented on #122
Thx

[2022-09-12 07:48] #122 closed

[2022-11-04 11:35] lud0v1c opened #131 "[cpackget] Debug log level not working on some commands"
**Describe the bug**
The `-v` flag is not showing debug verbose messages in some commands, like the recently added `checksum-` and `signature-` commands.

**To Reproduce**
`cpackget signature-create -v Pack.Vendor.1.2.3.pack -k key.pem -c cert.pem` or any valid input for the command to run.

**Expected behavior**
Debug messages should be printed.

**Environment (please complete the following infor

[2022-11-04 11:48] lud0v1c opened #132 "[cpackget] linux arm64 test job broken"
**Describe the bug**
The `ubuntu-latest | 1.18.x | aarch64` CI test job is failing always except for when it's triggered by a regular commit.

**To Reproduce**
Any non regular commit-triggered test action, like [this one](https://github.com/Open-CMSIS-Pack/cpackget/actions/runs/3393317003/jobs/5640513624#logs).

**Expected behavior**
Should run exactly like the other test jobs.

**Additional conte

[2022-11-04 11:49] #123 closed

[2022-11-04 12:37] spcaipers-arm commented on #132
Hi @lud0v1c , do you want me to investigate this issue?

[2022-11-04 15:34] lud0v1c commented on #132
Sure @spcaipers-arm, feel free to. [Here](https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables) are the reference variables, one of those should cover all git references (push, release, commit, etc).

[2022-11-09 09:59] jkrech opened #134 "cpackget add fails when a local copy of a public pack version should be installed while offline"
**Describe the bug**
cpackget with a sparsely filled .Web folder cache tries to download pdsc file even when a local copy of the pack needs to be installed

**To Reproduce**
Steps to reproduce the behavior:
1. make sure your machine has no connection to the internet
2. pick a public pack (e.g. ARM.CMSIS.5.9.0.pack) and store a local copy of it
3. run cpackget rm --purge ARM::CMSIS@5.9.0
4. remove

[2022-11-18 06:37] jkrech opened #137 "[cpackget] Define the behavior of cpackget if the CMSIS-Pack root directory is "incomplete""
**Describe The Problem To Be Solved**
I would like cpackget to be more robust or fault tolerant under different circumstances where the CMSIS-Pack repository directory does not (yet) contain expected directories and files. However I think there is a fine line of trying to be too clever, potentially covering up or hiding issues in the user's setup.
[code]

Scenarios:
a) assume that for some reason

[2022-11-18 11:08] lud0v1c commented on #137
I agree that there should be some default behavior regarding the consistency of the pack root, and it shouldn't vary from command to command.  Would it not be best, on all commands that involve reading/writing the pack root, to perform the same checks and recovery processes? Ideally we want every user to have the same CMSIS-Pack repository organization, and by performing a healtcheck/recovery afte

[2022-11-18 11:26] madchutney commented on #137
I think we should consider a separation of concerns and focus on the different tasks that are being undertaken. For example, the issue that has triggerred this ticket to be raised is not caused by a direct invocation of `cpackget`. The software is attempting to build a `cprj`  using `cbuild`, which has had the side effect of attempting to create a `.Local`.

When `cpackget` is invoked to download

[2022-11-18 12:29] lud0v1c commented on #137
That does make sense. Probably best for you guys to define such behavior, as I'm not a user of `cbuild` or the the rest of the c-family. Perhaps a good first step would be to define the inputs/outputs of each command? Something like this:
| command | .Web | .Local | .Download | called by cbuild |
|---|---|---|---|---|
| add | R | R/W | R/W | Yes |
| init | W | W | W | Yes |
| ... | ... | ... | ...

[2022-11-18 16:07] madchutney commented on #137
@jkrech Thanks, for the case I mentioned we can use `cbuild` without the `--packs` option. That seems a reasonable compromise to me, it just caught us out this time round. I wasn't aware that `cbuild` was considered an orchestrator, is it the  intention that it will also perform orchestration with other tools in the future, such as csolution?

I like @lud0v1c suggestion or defining which operation

[2022-11-23 18:33] lud0v1c commented on #137
@jkrech what do you think would be the right procedure here? As I said, I'm not that familiar with the rest of the devtools/c-family, and that's why I advocated for a general approach and behaviour to the scenarios you described.

[2022-11-27 23:27] lud0v1c commented on #8
Updated the wiki page regarding the latest implementation and the needed discussion/two possible mechanisms to fully deploy this feature.

[2022-11-29 10:23] christophe0606 opened #139 "Problem to update a pack"
**Describe the bug**
I can't update my pack.

**To Reproduce**
`cpackget --version`
cpackget version 0.8.5 (C) 2022 Linaro

`cpackget update-index`
I: Using pack root: "C:\ctools_pack"
I: Updating public index
I: Downloading index.pidx 100% |███████████████████████████████████████████████████| (103/103 kB, 198.981 kB/s)
I: Updating PDSC files of installed packs referenced in index.pidx
I: ARM::V2M

[2022-11-29 10:28] christophe0606 commented on #139
More info: I also have a pack installation at the default location:
`C:\Users\<user>\AppData\Local\Arm\Packs`

[2022-11-29 11:50] stevep-arm commented on #8
I'm glad to hear that signing is being added to CMSIS packs, I think this will give CMSIS Pack users real benefits.

I have a suggestion that I think will give a more thorough solution than is currently proposed and potentially save time. Many of the concepts of secure package delivery have been implemented by existing systems and the lessons that have been learned from those systems have been wri

[2022-11-29 12:26] jkrech commented on #139
@christophe0606 this is odd. Could you please share the output if you run the command line adding `-v` (verbose).

[2022-11-29 12:35] lud0v1c commented on #139
@christophe0606 in the last  `cpackget-init` you did, was the CMSIS_PACK_ROOT environment variable pointing to the default location by any chance?

[2022-11-29 12:37] christophe0606 commented on #139
@lud0v1c `CMSIS_PACK_ROOT` was still pointing to `C:\ctools_pack`

[2022-11-29 16:31] brondani commented on #139
I can reproduce it with the following approach:
[code]
Manually remove the section `<release version="1.1.0" ... </release>` from the file
`C:\Temp\PacksTest\.Web\ARM.V2M_MPS3_SSE_310_BSP.pdsc`

[code]

[2022-11-30 07:39] brondani commented on #139
As you can see for the command `cpackget update-index -v` the last message is:
[code]
However in my environment the **.Download** directory is still empty, did the download silently failed?
I would expect the **.Web**\ARM.V2M_MPS3_SSE_310_BSP.pdsc to be updated.